# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

pwd.md

# Packaging
build/
dist/
*.egg-info/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project outputs
outputs/
output.json

# Playwright
statusinvest_storage_state.json
playwright-report/

# Logs
*.log

# Env
.env
.env.*
